html {
    box-sizing: border-box;
    font-size: 3.2vw;
}
body {
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* Citation starts 
    https://thirtyeightvisuals.com/blog/half-background-squarespace-index
    This code block uses the linear gradient option in the background to set a change in the background color (direction, color-1  size, color-2 size)  the size could be omitted and the color would gradually change.
    I wanted an abrupt change so I set the size at 50% */
    background: linear-gradient(180deg, #373737 50%, rgb(100, 100, 100) 50%);
    /* Citation ends */
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
}
header {
    text-align: center;
    /* height: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
header>*{
    margin:20px 5% 0 5%;
}
header h2 {
    border-bottom: 1px solid #86c232 ;
    padding-bottom: 20px;
    font-size: 1.5rem;
}
main {
    background-color: rgb(240, 240, 240);
    color: rgb(55, 55, 55);
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;  
}
footer {
    margin: 20px;
}



/* Typography */
h1 {
    font-size: 2.75rem;
    font-weight: bold;
    font-family: Georgia, Times, serif;
}
h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: Georgia, Times, serif;
}
h3 {
    font-size: 1.2rem;

    padding-bottom: 0.5vw;
    font-family: Georgia, Times, serif;
}
main h3 {

    font-weight: bold;
    border-bottom: 1px solid #86c232;
    margin-bottom: 1vw;
}
header p {
    text-align: justify;
    margin-top: 15px;
    line-height: 1.2rem;
    font-size: 1rem;
}
button {
    font-size: 10px;
    padding: 0;
    border-width: 0;
    margin-top: 0;
}
p{
    font-family:  Helvetica, sans-serif;
    font-size: .8rem;
    line-height: 4vw;
}
main h2 {
    font-weight: bold;
    width: 37%;
    padding-left: 1%;
    background-color: #86c232;
    padding-bottom: 0;
}
ul {
    margin-right: 8%;
    margin-left: 38%;
    width: 62%;
}
.fourColumn, .oneColumn, .twoColumn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    width: 95%;
}
.fourColumn li {
    width: 50%; 
}

.twoColumn li{
    width: 80%;
    line-height: 1.2rem;
}
h4 {
    width: 75%;
}
a {
    font-size: .7rem;
}
footer a:visited {
    background-color: #86c232;
}
footer a:hover {
    background-color: #F0F0F0;
    color: #86c232;
}
.desktopView {
    display: none;
}

@media (min-width:600px) and (max-width: 991px){

}
@media (min-width: 992px){
    html{
        font-size: 16px;
        background-color: #f0f0f0;
    }
    body {
        width: 100%;
        max-width: 1250px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin: 1% auto;
        border: 4px solid #373737;
        
    }
    .mobileView {
        display: none;
    }
    .desktopView {
        display: flex;
    }
    .oneColumn {
        display: flex;
        flex-direction: column;
        margin: 0 0 1.2rem 0;
        line-height: 1.3rem;
    }
    .oneColumn li {
        width: 100%;
        margin-left: 3.85rem;
   
    }
    .twoColumn {
        margin-bottom: 2.6rem;
    }
    .twoColumn li{
        width: 50%;
        line-height: 1.5rem;
    }
    .fourColumn li {
        width: 25%;
        line-height: 1.5rem;
        /* margin-bottom: 1.3rem;; */
    }
    p{
        line-height: 1.3rem;
        margin-bottom: .3rem;
        font-size: .75rem;
    }
    section ul {
        margin-left: 30%;
        margin-right: 0;
        width: auto;
    }
    main h3 {
        width:auto;
    }
    main h2{
        line-height: 2.2rem;
        width: 28.5%;
        padding-left: 1.5%;
    }
    main section:first-of-type h2{
        margin-top: 0;
    }
    header p {
        padding: 0 1.5%;
    }
    #skills {
        order: 1;
    }
    h3 {
        margin-top: 1.3rem;
    }
} 
