* {
    box-sizing: border-box;
}
html {
    /* Citation starts 
    https://thirtyeightvisuals.com/blog/half-background-squarespace-index
    This code block uses the linear gradient option in the background to set a change in the background color (direction, color-1  size, color-2 size)  the size could be omitted and the color would gradually change.
    I wanted an abrupt change so I set the size at 50% */
    background: linear-gradient(180deg, rgb(55, 55, 55) 50%, rgb(100, 100, 100) 50%);
    /* Citation ends */
    background-repeat: no-repeat;
    height: 100%;
}
body {
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
section {
    display: flex;
    justify-content: left;
}
main {
    background-color: rgb(240, 240, 240);
    color: rgb(55, 55, 55);
    /* height: 65%; */
    width: 90%;
    margin-top: 20px ;
    
}
header {
    text-align: center;
    /* height: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
   
}
header>*{
    margin:20px 6% 0 6%;
}
footer {
    /* height: 10%; */
    margin: 20px;
}

/* Typography */
h1 {
    font-size: 8vw;
    font-weight: bold;
}
h2 {
    font-size: 4.5vw;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 20px;
    text-transform: uppercase
}
h3 {
    font-size: 3.5vw;
    font-weight: bold;
    padding-top: 3.5vw;
}
header p {
    text-align: justify;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    line-height: 18px;
   
}
main h2 {
    font-weight: bold;
    width: 26%;
    margin: 0 4%;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    background-color: chartreuse;
}
.skills ul li{
    display: inline;
}

ul {
    
    width: 36%;
    margin-right: 8%;
}

@media (min-width: 600px){

    header {
        height: 25%;
    }
    main {
        height: 65%;
    }
    footer {
        height: 10%;
    }
}